@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

body {
  font-size: 18px;
  font-family: 'Source Sans 3';
  line-height: 1.5;
  font-weight: lighter;
  color: rgb(83, 83, 83);
}

a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgb(253, 251, 233), rgb(253, 249, 233));
  color: rgb(79, 79, 79);
  font-size: 26px;
}

a:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgb(255, 248, 182), rgb(253, 232, 145));
  color: rgb(79, 79, 79);
  font-size: 26px;
}

.banner{
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.banner p {
  font-size: 28px;
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

.container {
  width: 700px;
  margin: 20px auto;
}

@media(max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
